body
{
    background-color: rgb(251, 252, 141);
    background-image: url(background3.jpg);
    background-size:cover;
    background-position: center;
}
.all
{
background-color: rgb(162, 67, 230);
border-radius: 30px;

}

.p1:hover
{
background-image:url(virat8.jpg);
border-radius: 10px;
background-size:cover;
}

.p2:hover
{
background-image:url(rohit3.jpg);
border-radius: 10px;
background-size:cover;
}

.p3:hover
{
background-image:url(hardik2.jpg);
border-radius: 10px;
background-size:cover;
}

.p4:hover
{
background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSupLOBCho1X13RF7zqDYE41_34EwHTfts2aw&s);
border-radius: 10px;
background-size:cover;
}

.p1,.p2,.p3,.p4
{
    width:500px;
    height:500px;
    text-align: center;
    padding-top: 20px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: #c058e3;

}

img
{
    width:200px;
    height:200px;
    border-radius: 100px 100px;
}
label
{
color: rgb(43, 4, 12);
}

.b11
{
    width:150px;
    height:5px;
    border-radius:5px;
    background-color: rgb(86, 69, 5);
    border: 2px solid black;
    margin-left: 160px;   
}

.f11
{
    width:135px;
    height:5px;
    background-color: rgb(191, 173, 37);
}

.b12
{
    width:150px;
    height:5px;
    border-radius:5px;
    background-color: rgb(86, 69, 5);
    border: 2px solid black;
    margin-left: 160px;   
}

.f12
{
    width:120px;
    height:5px;
    background-color: rgb(191, 173, 37);
}

.b13
{
    width:150px;
    height:5px;
    border-radius:5px;
    background-color: rgb(86, 69, 5);
    border: 2px solid black;
    margin-left: 160px;   
}

.f13
{
    width:100px;
    height:5px;
    background-color: rgb(191, 173, 37);
}

.b21
{
    width:150px;
    height:5px;
    border-radius:5px;
    background-color: rgb(86, 69, 5);
    border: 2px solid black;
    margin-left: 160px;   
}

.f21
{
    width:120px;
    height:5px;
    background-color: rgb(191, 173, 37);
}

.b22
{
    width:150px;
    height:5px;
    border-radius:5px;
    background-color: rgb(86, 69, 5);
    border: 2px solid black;
    margin-left: 160px;   
}

.f22
{
    width:100px;
    height:5px;
    background-color: rgb(191, 173, 37);
}

.b23
{
    width:150px;
    height:5px;
    border-radius:5px;
    background-color: rgb(86, 69, 5);
    border: 2px solid black;
    margin-left: 160px;   
}

.f23
{
    width:70px;
    height:5px;
    background-color: rgb(191, 173, 37);
}

.b31
{
    width:150px;
    height:5px;
    border-radius:5px;
    background-color: rgb(86, 69, 5);
    border: 2px solid black;
    margin-left: 160px;   
}

.f31
{
    width:120px;
    height:5px;
    background-color: rgb(191, 173, 37);
}

.b32
{
    width:150px;
    height:5px;
    border-radius:5px;
    background-color: rgb(86, 69, 5);
    border: 2px solid black;
    margin-left: 160px;   
}

.f32
{
    width:100px;
    height:5px;
    background-color: rgb(191, 173, 37);
}

.b33
{
    width:150px;
    height:5px;
    border-radius:5px;
    background-color: rgb(86, 69, 5);
    border: 2px solid black;
    margin-left: 160px;   
}

.f33
{
    width:140px;
    height:5px;
    background-color: rgb(191, 173, 37);
}

.b41
{
    width:150px;
    height:5px;
    border-radius:5px;
    background-color: rgb(86, 69, 5);
    border: 2px solid black;
    margin-left: 160px;   
}

.f41
{
    width:90px;
    height:5px;
    background-color: rgb(191, 173, 37);
}

.b42
{
    width:150px;
    height:5px;
    border-radius:5px;
    background-color: rgb(86, 69, 5);
    border: 2px solid black;
    margin-left: 160px;   
}

.f42
{
    width:60px;
    height:5px;
    background-color: rgb(191, 173, 37);
}

.b43
{
    width:150px;
    height:5px;
    border-radius:5px;
    background-color: rgb(86, 69, 5);
    border: 2px solid black;
    margin-left: 160px;   
}

.f43
{
    width:140px;
    height:5px;
    background-color: rgb(191, 173, 37);
}

s1
{
font-family:monospace;
}

p
{
  text-align: center;
  text-align: justify;
  font-family: sans-serif;
  font-size: 20px;
  color:maroon;
}
